.node {
	    fill: #000;
}
.link {
	    fill: none;
	    stroke: #00CC66;
      stroke-width: 5;
}
.linkSelected {
  fill: none;
  stroke: green;
  stroke-width: 5;
}
.linkHovered {
  fill: none;
  stroke: green;
  stroke-width: 5;
}
.unselectableTextLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
}
.deleteButton {
  background-color: red;
}

.mainSVG {
  width:100%;
  height:40%;
  border: 1px solid black;
  background-color: #909090;
}

.queryTextArea {
  width:100%;
  height:15%;
}
.sparqlTextArea {
  width:100%;
  height:15%;
}
.responseTextArea {
  width:100%;
  height:15%;
}
