.node {
	    fill: #000;
}
.link {
	    fill: none;
	    stroke: #00CC66;
      stroke-width: 3;
}
.linkSelected {
  fill: none;
  stroke: green;
  stroke-width: 3;
}
.linkHovered {
  fill: none;
  stroke: green;
  stroke-width: 3;
}
.background {
    	background-color: #909090;
}
.unselectableTextLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
}
