<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
<!-- This XML is a configuration for the Jetty servlet mappings. 
   Information such as the servlet class location and the servlet
   URL mappings are set here. A call via a HTTP request on a 
   mapped URL will invoke the coresponding class for handling of 
   this request. -->

  <servlet>
    <servlet-name>DataBaseRequest</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequest</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequest</servlet-name>
    <url-pattern>/db/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DataBaseRequestPredicates</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequestPredicates</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequestPredicates</servlet-name>
    <url-pattern>/db-predicates/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DataBaseRequestLiterals</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequestLiterals</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequestLiterals</servlet-name>
    <url-pattern>/db-literals/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DataBaseRequestTypes</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequestTypes</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequestTypes</servlet-name>
    <url-pattern>/db-types/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DataBaseRequestSPARQLInterpretation</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequestSPARQLInterpretation</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequestSPARQLInterpretation</servlet-name>
    <url-pattern>/db-sparqlinterpretation/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DataBaseRequestSPARQL</servlet-name>
    <servlet-class>g1.servlet.DataBaseRequestSPARQL</servlet-class>
    <load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseRequestSPARQL</servlet-name>
    <url-pattern>/db-sparql/*</url-pattern>
  </servlet-mapping>
</web-app>
